body {
    color: white;
    background: rgb(42, 44, 60);
    margin: 0px;
    margin-bottom: 20px;
}

header {
    padding: 10px;
    font-size: 45px;
    color: rgb(221, 31, 31);
}

.chamada {
    background: rgb(62, 11, 116);
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    padding-right: 30px;
    padding-left: 30px;
}

.chamada-texto img {
    height: 80px;
}

h {
    font-size: 80px;
    color: white;
    margim-bottom: 5px;
}

h1 {
    font-size: 30px;
    padding-left: 10px;
}

p {
    font-size: 20px;
    padding-left: 12px;
}

.videodisplay {
    padding-left: 30px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    gap: 10px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.categoria {
    background: rgb(62, 11, 116);
}

.categoria-videos img {
    opacity: 0.7;
    height: 180px;
}

.categoria-videos img:hover {
    opacity: 1.0;
}

.categoria h2 {
    color: rgb(221, 31, 31);
    padding-left: 530px;
    font-size: 50px;
}

.categoria h3 {
    color: white;
    font-size: 20px;
    padding-right: 5px;
}

.cabeca-titulo {
    padding-left: 420px;
}

.canais img {
	height: 60px;
	padding-left: 70px;
}

.canais {
    background: rgb(0, 0, 0);
    padding-top: 1px;
    padding-bottom: 1px;
}
